---
import { Button } from "@zdnevnik/design-system";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>ZDnevnik</title>
  </head>
  <body>
    <h1>This is the ZDnevnik web app!</h1>
    <Button>This is a button that does nothing!</Button>
  </body>
</html>
